@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900";

@media only screen and (min-width: 600px) {
    * {
    margin:0px;
    padding:0px;
    font-family:"Poppins",sans-serif
    }
    body{
        margin-bottom: 20vh;
        width: 100vw;
        overflow-x: hidden ;
    }
        
    h2 {
        background-color:var(--color);
        padding-top:10px;
        padding-left: 10px;
        padding-right: 10px;
        color:#fff;
        padding-bottom:10px;
        border-radius:5px;
        margin-top:20px;
        margin-bottom:10px;
        text-align:center;
        box-shadow:rgba(0,0,0,0.1) 0 4px 12px
        }
    
    .pg1{
        padding: 10px;

    }

    .pg1 h1 {
    font-size:40px;
    color:var(--color);
    -webkit-transition:all .4s ease 0s;
    -o-transition:all .4s ease 0s;
    transition:all .4s ease 0s
    }
    
    .pg1 h1 span {
    display:block;
    font-size:.5em;
    line-height:1.3
    }
    
    .pg1 h1 em {
    font-style:normal;
    font-weight:600
    }

    .pc2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .one h1 {
        color:var(--color);
        font-size:50px;
        padding-top:10px;
        text-align:center;
        padding-bottom:5px;
        font-family:'SolaimanLipi',sans-serif
        }
        
        .container { 
        padding-top: 50px;
        padding-bottom: 10px;
        text-align:center;
        }
        
        
        .typewriter {
            font-size: 1.5rem;
        color:#fff;
        font-weight:700;
        position:relative;
        margin:0;
        top:50%;
        transform:translateY(-50%)
        }
        
        .typewriter span {
        color:var(--color);
        padding:10px;
        border-right:solid var(--color) 3px;
        animation:cursor 1s ease-in-out infinite
        }
        
        @keyframes cursor {
        from {
        border-color:var(--color);
        }
        
        to {
        border-color:transparent
        }
        }
        
    
    .main {
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    }
    
    .box {
    margin: 10px;
    width:fit-content;
    height:fit-content;
    padding:5px;
    box-shadow:rgba(17,17,26,0.05) 0 1px 0px,rgba(17,17,26,0.1) 0 0 8px;
    text-align:center;
    border-radius:10px;
    box-sizing:border-box;
    padding-bottom:20px;
    margin-bottom:50px
    }
    
    .box p {
    margin:20px;
    font-family:'Mukti',sans-serif;
    }
    
    .box a {
    color: black;
    text-decoration:none;
    border: solid var(--color);
    padding:10px;
    border-radius:10px;
    transition:.5s;
    }
    
    .box a:hover {
    background-color:var(--color);
    }
    
    .progress {
                flex-wrap: wrap;
        margin: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        }
        
        .counter-container {
        background-color: #f1f1f131;
        width: 180px;
        height: 150px;
        margin: 10px;
        text-align:center;
        color:var(--color);
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    
    .counter {
    font-size:40px
    }
    .color-buttons button{
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 50%;
        border: none;
    }
    .ser{
        display:flex;
        justify-content: center;
    }
    .ser a{
        width: 100px;
        border-radius: 10px;
        color:var(--color);
        margin: 10px;
        padding: 20px;
        font-size: 1.1rem;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 1s;
    }
    .ser a:hover{
        width: 300px;
    }
    .ser ion-icon{
        width: 100%;
        font-size: 2rem;
    }
    
    .pg2 {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom: 20px;
    }
    
    .pg2::-webkit-scrollbar {
    width:0
    }
    
.anik1{
    height: 300px;
    width: 500px;
    margin-top:20px;
    margin-left: 15px; 
}
.anik1 div{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.slide1{
    background-image: url(Slider/1.jpg);
}
.slide2{
    background-image: url(Slider/2.jpg);
}
.slide3{
    background-image: url(Slider/3.jpg);
}
    .anik {
    width:250px;
    height:500px;
    margin:10px;
    margin-top:20px;
    }
    
    .anik p {
    text-align: center;
    width:70%;
    font-size:0.7rem;
    color:#fff;
    padding:10px;
    border:solid var(--color);
    }
    
    .ab,.ac,.ad,.ae{
    box-shadow:rgba(0,0,0,0.35) 0 5px 15px;
    border-radius:10px;
    box-sizing:border-box;
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
    background-size:cover;
    }
    
    .ab {
        background-image:linear-gradient(to bottom,rgba(40,40,40,0.89),rgba(0,0,0,0.73)),url(https://drive.google.com/uc?id=10ghJr2_sN1quIRdA17dTVdlqXrVJEJKC);
        }
        
        .ac {
        background-image:linear-gradient(to bottom,rgba(40,40,40,0.89),rgba(0,0,0,0.73)),url(https://drive.google.com/uc?id=1u1b5xpz5jJ632aYtIb73zUE5l-05Jhoo)
        }
        
        .ad {
        background-image:linear-gradient(to bottom,rgba(40,40,40,0.89),rgba(0,0,0,0.73)),url(https://drive.google.com/uc?id=1g8mLQCw-xO8doVQ9cQ5Av_9uraYRjn9b)
        }
        .ae {
            background-image:linear-gradient(to bottom,rgba(40,40,40,0.89),rgba(0,0,0,0.73)),url(https://drive.google.com/uc?id=14UqcDXaKCeFMcD8nDFtg_rszyhWoMmGR)
            }
            .see{
                margin-bottom: 30px;
            }
            .see a {
                font-size: 1.2rem;
                border-radius:10px;
                text-decoration:none;
                padding:10px;
                transition: 0.5s;
                color: black;
                border: 2px solid var(--color);
                }
                .see a:hover{
                    background-color: var(--color);
                }
    
    .pg3 {
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    }
    
    #leaderboard {
    display:grid;
    place-items:center;
    margin:20px;
    padding:10px;
    box-shadow:rgba(0,0,0,0.16) 0 1px 4px;
    border-radius:10px
    }
    
    .pg3 table {
        border-collapse:collapse;
        }
        
        .pg3 td {
        padding:5px;
        text-align: left;
        
        }
        .pg3 tr:nth-child(1) {
            text-align: center;
            font-weight: bold;
        }
    
    #leaderboard p {
    border-top:solid 3px;
    width:90%
    }
    #leaderboard p {
        border-top:solid 3px;
        width:90%
        }
        #leaderboard a{
            text-decoration: none;
            padding: 5px;
            background-color:var(--color);
            color: white;
            margin: 10px;
            border-radius: 4px;
        }
        #scl{
            height: 330px;
            overflow-y: auto;
        }
        .anik1{
            height: 300px;
            min-width: 500px;
            margin-top:20px;
            margin-left: 15px; 
            margin-right: 15px;
        }
        .anik1 div{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
        
        .slide1{
            background-image: url(https://drive.google.com/uc?id=1a5bnEUnEJD7D8fuQ-2mvyMIBCUznR0IJ);
        }
        .slide2{
            background-image: url(https://drive.google.com/uc?id=1lzLowLCF1PcsgRnqwOl-Aeje44OVeP8f);
        }
        .slide3{
            background-image: url(https://drive.google.com/uc?id=1UrFRHd_ydf3-mgZ6JZLDevTDhWzrl441);
        }
    .more {
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content:center
    }
    
    .mini {
    text-align:center;
    width: 100px;
    padding:20px;
    margin:10px;
    box-shadow:rgba(0,0,0,0.02) 0 1px 3px 0px,rgba(27,31,35,0.15) 0 0 0 1px
    }
    
    .mini h4 {
    margin:5px;
    padding:10px
    }
    
    .mini a {
    text-decoration:none;
    padding:10px;
    background-color:var(--color);
    color:#fff;
    border-radius:5px
    }
    
/*For Member*/

    .sob {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom:10vh;
    }
    
    .card {
    width: 120px;
    border-radius:10px;
    padding:10px;
    transition: 1s;
    font-size: 0.6rem;
    padding-bottom:20px;
    margin:10px;
    text-align:center;
    transition:.5;
    box-shadow:rgba(99,99,99,0.2) 0 2px 8px 0
    }
    .card:hover{
        box-shadow: 0 0 10px var(--color);
        }
    
    .card img {
        object-fit: cover;
        object-position: center;
    width: 50px;
    height: 50px;
    border-radius:10px;
    }
    .card h3{
        height: 30px;
        display: grid;
        place-items: center;
    }
    .card p {
    text-align:center;
    border: 1px solid var(--color);
    margin-bottom:20px;
    font-size: 0.8rem;
    }

    .card a {
        font-size: 0.8rem;
    text-decoration:none;
    color: black;
    border: 1px solid var(--color);
    padding: 4px;
    border-radius:5px;
    transition: .5s;
    }
    .card a:hover{
        background-color: var(--color);
    }
    section{
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-bottom:  3px solid var(--color);
        margin: 10px;
        padding: 10px;
    }
    /*Contact*/
 .lekha{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.middle{
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
.con{
    padding: 10px;
    border: dotted var(--color);
    width: 500px;
    margin: 0 auto;
}
.con a,.con p{
    text-decoration: none;
    font-size: 0.9rem;
    font-family: monospace;
    margin: 10px;
}



    /*For Post*/
    body{
        text-align: center;
       }
        .siu{
            padding: 15px;
            background-color: var(--color);
            text-decoration: none;
            color: white;
            margin: 10px;
            border-radius: 10px;
    
        }
        main{
            margin-bottom: 50px;
        }
        .posts{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }
        .post1{
            transition: 1s;
            text-align: justify;
          border-radius: 10px;
           margin: 20px;
           width: 400px;
           height: 230px;
           overflow: hidden;
           padding: 20px;
           box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .post1 h4{
            text-align: center;
        }
        .post1 img{
           padding: 15px;
           width: 150px;
           float:left;
           position: relative;

        }
        .imm{
            width: 100%;
            display: flex;
        }
        .post1 p{
            display: inline;
            font-size: 0.8rem;
            padding: 5px;
            padding: 10px;
        }
        .post1:hover{
            padding: 30px;
        }
        .iw{
            margin: 20px;
        }
        .iwan{
          text-decoration: none;
          padding: 10px;
          padding-left: 50px;
          padding-right: 50px;
          background-color: var(--color);
          color: white;
        }
    
    
    


    /*For Log In*/

    .loog {
    width:100vw;
    height:80vh;
    display:grid;
    place-items:center
    }
    
    .loog div {
    text-align:center;
    width:300px;
    padding:20px;
    padding-top:30px;
    padding-bottom:40px;
    display:grid;
    place-items:center;
    box-shadow:rgba(0,0,0,0.16) 0 10px 36px 0px,rgba(0,0,0,0.06) 0 0 0 1px
    }
    
    .loog button {
    text-decoration:none;
    border-radius:10px;
    margin-top:20px;
    width:40%;
    padding:10px;
    font-size:1.2rem;
    font-weight:700;
    border:none;
    color:#fff;
    background-color: var(--color);
    cursor: pointer;
    }
    
    .lock {
    text-decoration:none;
    margin-top:20px;
    padding:10px;
    font-size:1rem;
    font-weight:700;
    border:none;
    color:#fff;
    background-color:#2d57c1;
    }
    
    .forg {
    margin-top:10px;
    text-decoration:none;
    font-size:.7rem
    }
    
    .loog input {
    width:80%;
    padding:10px;
    margin-top:25px;
    border-radius:10px;
    border:none;
    background-color:rgba(255, 255, 255, 0.203);
    box-shadow:rgba(0,0,0,0.02) 0 1px 3px 0px,rgba(27,31,35,0.15) 0 0 0 1px;
    }
    
    h3 {
    margin-bottom:10px;
    }
/*For Emergency*/

.emergency{
    margin-top: 10px;
    width: 100vw;
    display: grid;
    place-items: center;
}
.medi6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.medi{
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 1s;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.medi a{
    color: var(--color);
    font-size: 1.1rem;
    text-decoration: none;
}
.medi:hover{
    background-color: var(--color);
}
.medi a:hover{
    color: white;
}
.emergency ion-icon{
    font-size: 4rem;
    width: 100%;
}
.emer h3{
    width: 70vw;
    font-size: 0.9rem;
    margin: 10px auto;
    background-color: var(--color);
    text-align: center;
    padding: 10px;
    border-radius: 7px;
}
.emer h3 a{
    text-decoration: none;
    color: white;
}




    }