@media only screen and (max-width: 600px) {
    .navigation {
        z-index:1;
        position:fixed;
        bottom:0;
        width:100vw;
        height:70px;
        background:#fff;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:10px
        }
        
        .navigation ul {
        display:flex;
        width:350px
        }
        
        .navigation ul li {
            border-radius: 10px;
        position:relative;
        list-style:none;
        width:70px;
        height:70px;
        z-index:1
        }
        
        .navigation ul li a {
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width:100%;
        text-align:center;
        font-weight:500
        }
        
        .navigation ul li a .icon {
        position:relative;
        display:block;
        line-height:75px;
        font-size:1.5em;
        text-align:center;
        transition:.5s;
        color:#000;
        }
        
        .navigation ul li a .text {
        position:absolute;
        color:#000;
        font-weight:400;
        font-size:.75em;
        letter-spacing:.05em;
        transition:.5s;
        opacity:0;
        transform:translateY(20px)
        }
        /*Logo*/
.logopic{
    height: 50px;
    overflow: hidden;
    right: 0px;
    transition: 1s;
    width: 50px;
    opacity: 0.7;
    z-index: 2;
    overflow: hidden;
    position: fixed;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logopic img{
    width: 50px;
    height: 50px;
}
.logopic ul{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: -7px;
    
}
.logopic li{
    list-style-type: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
.logopic a{
    text-decoration: none;
    padding: 1px;
    font-size: 0.8rem;
    color: black;
}
.logopic:hover{
  background-color: white;
  height: 180px;
}
        

} 
/*Pc*/
@media only screen and (min-width: 600px) {
    .navigation {
        left: 20px;
        z-index:1;
        position:fixed;
        width:500px;
        height:70px;
        background:var(--color);
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:10px 10px 0 0;
        transform: rotateZ(90deg);
        transform-origin: left center;
        }
        
        .navigation ul {
        display:flex;
        width:350px
        }
        
        .navigation ul li {
        position:relative;
        list-style:none;
        width:70px;
        height:70px;
        z-index:1
        }
        
        .navigation ul li a {
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width:100%;
        text-align:center;
        font-weight:500;
        transition:.9s
        }
        
        .navigation ul li a .icon {
        transform: rotateZ(-90deg);
        position:relative;
        display:block;
        line-height:75px;
        font-size:1.5em;
        text-align:center;
        transition:.5s;
        color:#e8d9d9
        }
        
        .navigation ul li a:hover {
        background-color:#000;
        color:#fff
        }
        
        .navigation ul li a .text {
        position:absolute;
        color:#000;
        font-weight:400;
        font-size:.75em;
        letter-spacing:.05em;
        transition:.2s;
        opacity:0;
        transform:translateY(20px)
        }
        
        .navigation ul li a .text:hover {
        opacity:1
        }
        /*Logo*/
.logopic{
   /* transform: rotate(90deg);
    transform-origin: 20px 25px;*/
    overflow: hidden;
    height: 50px;
    right: 0px;
    width: 50px;
    opacity: 0.7;
    z-index: 2;
    position: fixed;
    transition: 1s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logopic img{
   /* transform: rotate(-90deg);*/
    width: 50px;
    height: 50px;
}
.logopic ul{
  /*  transform: rotate(180deg);
    text-align: center;*/
    margin: 0;
    padding: 0;
    margin-top: -7px;
    
}
.logopic li{
   /* transform: rotate(90deg);*/
    list-style-type: none;
    margin: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
.logopic li a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
.logopic:hover{
  background-color: white;
  height: 200px;

}


}




